<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" backupStaticAttributes="false" bootstrap="bootstrap/app.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" syntaxCheck="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_CONNECTION_SEGURO" value="sqlite_seguro_auto"/>
        <env name="DB_CONNECTION_QUIZ" value="sqlite_quiz"/> 
        <env name="DB_CONNECTION_CARSYSTEM" value="sqlite_carsystem"/> 
        <env name="DB_CONNECTION_EAD" value="sqlite_ead"/>
        <env name="DB_CONNECTION_GREENPEACE_OCEANOS" value="sqlite_greenpeace_oceanos"/>
        <env name="DB_CONNECTION_ALFACON" value="sqlite_alfacon"/>
        <env name="DB_CONNECTION_SOCIAL_CLASS" value="sqlite_social_class"/>
        <env name="DB_CONNECTION_RESEARCHES" value="sqlite_researches"/>
        <env name="DB_CONNECTION_XMOVECAR" value="sqlite_xmovecar"/>
        <env name="DB_CONNECTION_INFOPRODUTO" value="sqlite_infoproduto"/>

        <env name="DB_DATABASE" value=":memory:"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
    <logging>
        <log type="coverage-html" target="./ci/codeCoverage/" charset="UTF-8" yui="true" highlight="false" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="./ci/codeCoverage/codeCoverage.xml"/>
        <log type="metrics-xml" target="./ci/codeCoverage/metrics.xml"/>
        <log type="test-xml" target="./ci/codeCoverage/logfile.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>
